<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h1 class="mt-2 mb-1"><%= htmlWebpackPlugin.options.title %></h1>

  <div class="list-group">
    <% htmlWebpackPlugin.options.apps.forEach(function(app){ %>
    <a href="<%= app %>.html" class="list-group-item list-group-item-action"><%= app %></a>
    <% }) %>
  </div>
</div>

</body>
</html>
